table {
  border-collapse: collapse;
  margin: 15px 0;
}
table, th, td {
  border: 1px solid #777;
}
td {
  padding: 10px 15px;
  text-align: center;
  vertical-align: middle;
}
a {
  color: blue;
  text-decoration: underline;
}
